<section class="w-3/4 m-auto">
  @if (loading()) {
    <article class="card card-side card-border bg-base-100 shadow-md">
      <figure class="px-4 bg-base-200">
        <div class="skeleton h-52 w-52"></div>
      </figure>
      <div class="card-body pt-3">
        <div class="skeleton h-8 w-3/4"></div>
        <div class="overflow-x-auto w-full">
          <div class="flex flex-col gap-4">
            <div class="skeleton h-10 w-full"></div>
            <div class="skeleton h-10 w-full"></div>
            <div class="skeleton h-10 w-full"></div>
            <div class="skeleton h-20 w-full"></div>
          </div>
        </div>
      </div>
    </article>
  }
  @if (error()) {
    <article class="card card-border bg-base-100 shadow-md" routerLink="/pokemons">
      <figure class="px-4 bg-base-200">
        <img
          class="h-52 w-4h-52 object-contain"
          src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/035.png"
          alt="Rondoudou"
        />
      </figure>

      <div class="card-body pt-3">
        <h2 class="card-title">Hey, cette page n'existe pas !</h2>
        <p>Retourne à la page d'accueil pour voir tous les pokémons.</p>
        <div class="card-actions justify-end mt-4">
          <button class="btn btn-ghost btn-sm" routerLink="/pokemons">RETOURNER À L'ACCUEIL</button>
        </div>
      </div>
    </article>
  }
  @if (pokemon(); as pokemon) {
    <article class="card card-side card-border bg-base-100 shadow-md">
      <figure class="px-4 bg-base-200 flex-1">
        <img class="h-52 w-4h-52 object-contain" [src]="pokemon.picture" [alt]="pokemon.name" />
      </figure>

      <section class="w-3/5">
        <div class="card-body pt-3">
          <h2 class="card-title">{{ pokemon.name }}</h2>

          <div class="overflow-x-auto">
            <table class="table">
              <tbody>
                <tr>
                  <th>Points de vie</th>
                  <td>{{ pokemon.life }}</td>
                </tr>
                <tr>
                  <th>Dégâts</th>
                  <td>{{ pokemon.damage }}</td>
                </tr>
                <tr>
                  <th>Types</th>
                  <td>
                    @for (type of pokemon.types; track $index) {
                      <span
                        class="badge mr-4"
                        [style.background-color]="pokemonService.getPokemonColor(type)"
                        [class]="pokemonService.getBadgeTextColor(type)"
                        >{{ type }}</span
                      >
                    }
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="card-actions justify-end mt-4">
            <button class="btn btn-ghost btn-sm" routerLink="/pokemons">Retour</button>
            <button class="btn btn-primary btn-sm" routerLink="/pokemons/edit/{{ pokemon.id }}">
              Modifier
            </button>
            <button class="btn btn-error btn-sm" (click)="deletePokemon()">Supprimer</button>
          </div>
        </div>
      </section>
    </article>
  }
</section>
